<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">

	<!-- 配置连接池 -->
	<bean id="dataSources" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<!-- 数据库连接用户名 -->
		<property name="user" value="root"></property>
		<!-- 数据库连接密码 -->
		<property name="password" value="123456"></property>
		<!-- 数据库连接URL -->
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/flights?useSSL=false"></property>
		<!-- 数据库连接驱动 -->
		<property name="driverClass" value="com.mysql.jdbc.Driver"></property>
		<!-- c3p0相关配置 -->
		<property name="initialPoolSize" value="10"></property>
		<property name="minPoolSize" value="5"></property>
		<property name="maxPoolSize" value="300"></property>
		<property name="maxStatements" value="500"></property>
	</bean>
	
	<!-- 配置hiberna的SessionFactoryBean -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSources"></property>
		<property name="configLocation" value="config/hibernate.cfg.xml"></property>
	</bean>
	
	<!-- 配置hibernate事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- 开启事务注解 -->
	<tx:annotation-driven proxy-target-class="true" transaction-manager="transactionManager"/>
	
	<!-- 配置该程序相关配置 -->
	<bean id="cfgBean" class="com.drsn.flights.bean.CfgBean">
		<!--
		<property name="prefixListNum" value="100"></property>
		-->
<!-- 		关闭命令监听的端口,默认为9833 -->
		<property name="acceptPort" value="9833"></property>
<!-- 		爬取prefix数据的线程数,默认0条，和代理ip爬取线程一起，都是最多一个线程 -->
		<property name="prefixTasknum" value="0"></property>
<!-- 		爬取fleet的线程数量，默认0条 -->
		<property name="fleetCollectTaskNum" value="0"></property>
<!-- 		爬取flight的线程数量，默认0条 ， 爬取flight的线程和从数据库获取代理的线程一起，后者最多只会是一个 -->
		<property name="flightsCollectTaskNum" value="0"></property>
	</bean>

	<!-- 扫描包 -->
	<context:component-scan base-package="com.drsn.flights.dao"/>
	<context:component-scan base-package="com.drsn.flights.task"/>

</beans>
